*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  box-sizing: border-box;
}

.App {
  padding: 20px;
}

.divider {
  margin-bottom: 20px;
}

.randomBreedContainer {
  padding: 10px;
  display: flex;
}